/* ! Medium Laptops (993px - 1200px) */
@media (max-width: 1200px) {
    #header {
        height: 75px;
    }

    #header .name p {
        font-size: 1.3rem;
    }

    #header .hostel-logo {
        width: 100px;
    }

    #header .hostel-logo img {
        height: 70px;
        width: 100px;
    }

    #header .button-container {
        font-size: 0.7rem;
        gap: 5px;
    }

    #signup-section,
    #login-section {
        margin: 5rem auto;
        max-width: 500px;
    }
}