/* ! Mobile Devices (Up to 576px) */
@media (max-width: 520px) {
    body {
        background-size: contain;
        background-position: center;
    }
    #header {
        height: 50px;
    }

    #header .name p {
        font-size: 0.7rem;
    }

    #header .hostel-logo {
        width: 50px;
    }

    #header .hostel-logo img {
        height: 20px;
        width: 50px;
    }

    #header .button-container {
        font-size: 0.7rem;
        padding-left: 25px;
        gap: 2px;
    }

    #signup-section,
    #login-section {
        margin: 3rem auto;
        padding: 15px;
    }
    
    #signup-section h2,
    #login-section h2 {
        font-size: 1.2rem;
    }
    #city {
        
    }
}
