/* ! Tablets (576px - 768px) */
@media (max-width: 768px) {
    #header {
        height: 60px;
    }

    #header .name p {
        font-size: 1.3rem;
    }

    #header .hostel-logo {
        width: 80px;
    }

    #header .hostel-logo img {
        height: 45px;
        width: 80px;
    }

    #header .button-container {
        font-size: 0.7rem;
        gap: 8px;
    }

    .search-container {
        max-width: 300px; 
    }
    input[type="text"] {
        font-size: 0.8rem;
    }
    .search-btn i {
        font-size: 1rem;
    }

    #signup-section,
    #login-section {
        margin: 4rem auto;
    }

    #signup-section h2,
    #login-section h2 {
        font-size: 1.4rem;
    }
}