/* ! Tablets (576px - 768px) */
@media (max-width: 768px) {
    body {
        background-size: contain;  /* Ensures full visibility without cropping */
        background-position: top;
    }

    #header {
        height: 60px;
    }

    #header .name p {
        font-size: 1.5rem;
    }

    #header .hostel-logo {
        width: 100px;
        margin-left: 1.5rem;
    }

    #header .hostel-logo img {
        height: 50px;
        width: 90px;
    }

    #header .button-container {
        font-size: 1rem;
        margin-right: 15px;
        gap: 8px;
    }

    .search-container {
        max-width: 300px; 
    }
    input[type="text"] {
        font-size: 0.9rem;
    }
    .search-btn i {
        font-size: 1rem;
    }

    #signup-section,
    #login-section {
        margin: 4rem auto;
    }

    #signup-section h2,
    #login-section h2 {
        font-size: 1.4rem;
    }
}